/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.checkbox-checked {
    background-color: goldenrod;
    border: 1px solid goldenrod;
    border-radius: 2px;
}

.checkbox-no-checked {
    background-color: grey;
    border: 1px solid grey;
    border-radius: 2px;
}

.custom-icon {
    font-size: 21px;
    color: rgb(238, 255, 0) !important;
}

.other-checkbox-checked {
    background-color: rgb(17, 17, 65);
    border: 1px solid rgb(17, 17, 65);
    border-radius: 2px;
}

.other-custom-icon {
    font-size: 27px;
    color: white !important;
}

.custom-focus {
    box-shadow: 0 0 1pt 1pt red;
}

ngx-checkbox {
    margin-left: 15px;
    margin-right: 15px;
}

.label-example {
    margin-left: 15px;
    color: orange;
}
